*{
    margin: 10px auto;
    text-align: center;
    box-sizing: border-box;
}

body{
    background-image: url("../image/Triforce.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}

table, tr, td{
    border: 2px solid black;
    padding: 10px;
    background-color: white;
}

div, td{
    max-width: 500px;
}

table{
    background-color: green;
}
